# a command-line utility framework I love
typer >= 0.12.1

# a CLI formatter supporting typer. I use it for progress bars!
rich >= 13.9.2

# the openai client!
openai >= 1.70.0

# extracting text from HTML
beautifulsoup4 >= 4.12.3

# for downloading page contents for scraping purposes
requests >= 2.32.3

# for reading and writing csvs, and using dataframes
pandas >= 2.2.3

# for token creation
tiktoken >= 0.7.0

# for an embeddings utility that openai removed
scipy >= 1.14.1

# formatting
black >= 24.8.0

# Datasets for training example
scikit-learn >= 1.5.2

# Pydantic for sweet, sweet serialization
pydantic >= 2.9.2

# embeddings plots
matplotlib >= 3.9.2

# embeddings calculations
numpy >= 2.1.2
